@import './variables.scss';


.page__header{
    z-index: 9000;
    position: fixed;
    width: 100vw;
    background-color: $back-color;
    
}
.header__menu{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 35px 170px;
}
.nav{
    .nav__link{
        transition: all 0.3s ease;
        color: $text-color__link;
        &:hover{
            color: $text-color__link-hover;
        }
        &:active{
            color: $text-color__link-active;
        }
    }
}
.header__button{
    width: 175px;
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
}