section.page__twoColls.autoBiz.main__item
    h2 Автоматизируйте бизнес-процессы
    .autoBiz__body
        p.page__p-normal Подключайте привычные приложения, которые вы используете в работе.
        +getEmail("1")