section.main__twoColls.autoBiz
    h2 Автоматизируйте бизнес-процессы
    .autoBiz__body
        p Подключайте привычные приложения, которые вы используете в работе.
        include getEmail
        +getEmail("1")