section.main__banks.banks
    h2 Банки и интеграции
    .main__twoColls
        .banks__box 
            p Банки
            img(src="", alt="pic")
            img(src="", alt="pic")
            img(src="", alt="pic")
            hr
            img(src="", alt="pic")
        .banks__box 
            p Интеграции
            img(src="", alt="pic")
            p Push-web уведомления
            img(src="", alt="pic")
            p E-mail уведомления
            img(src="", alt="pic")
            p Telegram
