section.main__banks.banks
    h2 Банки и интеграции
    .main__twoColls
        .banks__box 
            p Банки
            img(src="./images/toshkabank.svg", alt="pic")
            img(src="./images/tinkiffBank.svg", alt="pic")
            img(src="./images/modulBank.svg", alt="pic")
            hr
            img(src="./images/plus.svg", alt="pic")
            img(src="./images/csv.svg", alt="pic")
            p Загрузка из [strong 1С]
        .banks__box 
            p Интеграции
            img(src="./images/bell.svg", alt="pic")
            p Push-web уведомления
            img(src="./images/mail.svg", alt="pic")
            p E-mail уведомления
            img(src="./images/telegram.svg", alt="pic")
            p Telegram
