section.main__banks.banks
    h2 Банки и интеграции
    .page__twoColls
        .banks__box 
            p Банки
            img(src="./images/banks__tochka.svg", alt="tochka-bank")
            img(src="./images/banks__tinkoff.svg", alt="tinkoff-bank")
            img(src="./images/banks__modul.svg", alt="modul-bank")
            hr
            img(src="./images/banks__plus.svg", alt="plus")
            img(src="./images/banks__csv.svg", alt="csvc")
            p Загрузка из 1С
        .banks__box 
            p Интеграции
            img(src="./images/banks__bell.svg", alt="bell")
            p Push-web уведомления
            img(src="./images/banks__mail.svg", alt="mail")
            p E-mail уведомления
            img(src="./images/banks__telegram.svg", alt="telegram")
            p Telegram
