section.main__cases.cases 
    ul 
        h2 Кейсы
        li
            img(src="", alt="pic")
            h3 Автоматизация диджитал-агентства
            p Читать кейс
            img(src="", alt="pic")
        li
            img(src="", alt="pic")
            h3 Приём платежей в рекламной медиа-группе
            p Читать кейс
            img(src="", alt="pic")
        li
            img(src="", alt="pic")
            h3 Оптимизация бухгалтерии в производственной компании
            p Читать кейс
            img(src="", alt="pic")