section.main__cases.cases  
    h2.cases__header Кейсы
    
    .cases__body
        -for(var i = 0; i < 5; i++)
            input(id='r_'+i, type="radio", name="rad")
        each value, index in {'Автоматизация диджитал-агентства':'case1','Приём платежей в рекламной медиа-группе':'case2','Оптимизация бухгалтерии в производственной компании':'case3'}
            article.cases__article(class=value)
                img.cases__item(src="./images/"+value+'.svg', alt=value)
                h3.cases__item= index
                a.cases__link.cases__item(href="")  Читать кейс
                    img.cases__arrow(src="./images/arrow.svg", alt="pic")
    .cases__radio
        -for(var i = 0; i < 5; i++)
            label.bar(id='l_'+i for='r_'+i) 
