-var cStitles = [ ,]
-var cSContent = [,]
section.main__commingSoon.commingSoon.main__item  
    h2 Скоро появится
    each index, value in {'Интеграции с CRM-системами Битрикс 24 и amoCRM':'Интегрируйте уведомления о платежах прямо в вашу CRM, в которой работают ваши сотрудники ','Открытое API Everypay':'Подключайте свои системы и интегрируйте уведомления о поступающих платежах самостоятельно с помощью простого API Everypay','Автоматическое создание платежек':'Загрузите скан счета на оплату в нашу систему и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы'}
        article.page__twoColls.commingSoon__article
            h3.page__h3-bigLight= value
            .main__twoColls 
                img.commingSoon__line(src="./images/comming-soon__line.svg", alt="pic")
                p.page__p-normal.commingSoon__content= index
        hr
    h3.page__h3-normal И еще 17 нововведений