section.main__commingSoon.commingSoon 
    ul 
        h2 Скоро появится
        li.main__twoColls 
            h3 Интеграции с CRM-системами Битрикс 24 и amoCRM
            .main__twoColls 
            img(src="", alt="pic")
            p.commingSoon__box
                |Интегрируйте уведомления о платежах прямо 
                |в вашу CRM, в которой работают ваши сотрудники
            hr
        li.main__twoColls 
            h3 Открытое API Everypay
            .main__twoColls
            img(src="", alt="pic")
            p.commingSoon__box
                |Подключайте свои системы и интегрируйте уведомления о поступающих платежах самостоятельно 
                |с помощью простого API Everypay
            hr
        li.main__twoColls 
            h3 Автоматическое создание платежек
            .main__twoColls 
            img(src="", alt="pic")
            p.commingSoon__box
                |Загрузите скан счета на оплату в нашу систему 
                |и в банк-клиенте автоматически будет создано платежное поручение 
                |на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения 
                |мы достигаем высокой точности и скорости работы
            hr