-var cStitles = [ ,]
-var cSContent = [,]
section.main__commingSoon.commingSoon  
    h2 Скоро появится
    each index, value in {'Интеграции с CRM-системами Битрикс 24 и amoCRM':'Интегрируйте уведомления о платежах прямо в вашу CRM, в которой работают ваши сотрудники ','Открытое API Everypay':'Подключайте свои системы и интегрируйте уведомления о поступающих платежах самостоятельно с помощью простого API Everypay','Автоматическое создание платежек':'Загрузите скан счета на оплату в нашу систему и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы'}
        article.main__twoColls.commingSoon__article
            h3= value
            .main__twoColls 
                img.commingSoon__line(src="./images/line.svg", alt="pic")
                p.commingSoon__content= index
        hr
    h3 И еще 17 нововведений