section.main__foeWhom.forWhom  
    h2 Для кого
    .forWhom__box.main__threeColls
        article.forWhom__article
            img(src="./images/for-whom__money-tree.svg", alt="money-tree")
            h3 Малый бизнес
            p Скорость получения информации о платежах и минимизация издержек
        article.forWhom__article
            img(src="./images/for-whom__unicorn.svg", alt="unicorn")
            h3 Стартапы
            p Автоматизация бизнес-процессов и бухгалтерской рутины
        article.forWhom__article
            img(src="./images/for-whom__lamp.svg", alt="lamp")
            h3 Разработчики
            p Быстрое внедрение своих приложений для малого бизнеса и стартапов
