section.main__foeWhoom.forWhoom 
    ul 
        h2 Для кого
        li
            img(src="", alt="pic")
            h3 Малый бизнес
            p Скорость получения информации о платежах и минимизация издержек
        li
            img(src="", alt="pic")
            h3 Стартапы
            p Автоматизация бизнес-процессов и бухгалтерской рутины
        li
            img(src="", alt="pic")
            h3 Разработчики
            p Быстрое внедрение своих приложений для малого бизнеса и стартапов
