section.main__foeWhom.forWhom#forWhom.main__item 
    h2 Для кого
    .forWhom__box.page__threeColls
        article.forWhom__article
            img(src="./images/for-whom__money-tree.svg", alt="money-tree")
            h3.page__h3-normal Малый бизнес
            p.page__p-normal.forWhom__content Скорость получения информации о платежах и минимизация издержек
        article.forWhom__article
            img(src="./images/for-whom__unicorn.svg", alt="unicorn")
            h3.page__h3-normal Стартапы
            p.page__p-normal.forWhom__content Автоматизация бизнес-процессов и бухгалтерской рутины
        article.forWhom__article
            img(src="./images/for-whom__lamp.svg", alt="lamp")
            h3.page__h3-normal Разработчики
            p.page__p-normal.forWhom__content Быстрое внедрение своих приложений для малого бизнеса и стартапов

