section.main__foeWhom.forWhom  
    h2 Для кого
    .forWhom__box.main__threeColls
        article.forWhom__article
            img(src="./images/MoneyTree.svg", alt="pic")
            h3 Малый бизнес
            p Скорость получения информации о платежах и минимизация издержек
        article.forWhoom__article
            img(src="./images/Unicorn.svg", alt="pic")
            h3 Стартапы
            p Автоматизация бизнес-процессов и бухгалтерской рутины
        article.forWhoom__article
            img(src="./images/lamp.svg", alt="pic")
            h3 Разработчики
            p Быстрое внедрение своих приложений для малого бизнеса и стартапов
