- var aunt = false
script(src=("../../js/check.js"))
.getEmail
    .getEmail__block.get-block
        if (aunt == false)
            form(action="", method="get")
                label(for="") email
                    input#email( required, type="email", name="email")
                input(type="submit", value="check" onclick="a();")
        else if (auntifitated == true)
            .get-block__end
                p thanks
        