section.main__HIW.HIW 
    ul
        h2 Как это работает       
        li 
            img(src="", alt="pic")
            p Подключите свой банковский счет
        li 
            img(src="", alt="pic")
            p Выберите, куда и кому отправлять информацию
        li 
            img(src="", alt="pic")
            p Получайте информацию о поступивших оплатах
        