section.main__HIW.HIW 
    h2 Как это работает 
    ul.main__threeColls      
        each index, value in {'Подключите свой банковский счет':"step1","Выберите, куда и кому отправлять информацию":"step2","Получайте информацию о поступивших оплатах":"step3"} 
            li.HIW__item
                img(src="./images/"+index+".svg", alt=index)
                p= value
        