section.page__twoColls.offer.main__item
    img(src="./images/offer__chat.svg", alt="chat")
    .offer__body 
        h3.page__h3-big.offer__name Мы предлагаем вам простой инструмент, чтобы автоматизировать информирование о поступающих оплатах.
        p.page__p-normal.offer__content 
            |Бухгалтер на карантине, а директор недоступен? Ответственный сотрудник моментально узнает 
            |о поступлении денег на счет компании.