section.main__twoColls.offer
    img(src="", alt="pic")
    h2 Мы предлагаем вам простой инструмент, чтобы автоматизировать информирование о поступающих оплатах.
    p   |Бухгалтер на карантине, а директор недоступен? Ответственный сотрудник моментально узнает 
        |о поступлении денег на счет компании.