section.main__safety.safety
    h2.safety__name Безопасность
    img.safety__img(src="./images/safety__locker.svg", alt="locker")
    p.safety__content 
        |Использование Everypay полностью безопасно: подключение к банковскому счету осуществляется в режиме «только 
        |для получения выписок», а хранение информации в системе защищено 
        |и деперсонализировано.