section.main__safety.safety
    h2 Безопасность
    img(src="", alt="pic")
    p 
        |Использование Everypay полностью безопасно: подключение к банковскому счету осуществляется в режиме «только 
        |для получения выписок», а хранение информации в системе защищено 
        |и деперсонализировано.