section.main__safety.safety
    h2 Безопасность
    img(src="./images/safety__locker.svg", alt="locker")
    p 
        |Использование Everypay полностью безопасно: подключение к банковскому счету осуществляется в режиме «только 
        |для получения выписок», а хранение информации в системе защищено 
        |и деперсонализировано.