section.main__tarifs.tarifs.main__item#tarifs 
    h2.tarifs__name Тарифы
    p.page__p-big.tarifs__content 
        |Everypay находится в стадии закрытого beta-теста, 
        |но у вас есть возможность присоединиться к тестированию сервиса.<br><br>
        |Для компаний, участвующих в тестировании, сервис  навсегда бесплатен. 
        |Напишите нам и мы с вами свяжемся.
    img.tarifs__img(src="./images/tarifs__rubl.svg", alt="rubl")
    //- include getEmail
    +getEmail('2')
