section.main__tarifs.tarifs 
    h2 Тарифы
    p 
        |Everypay находится в стадии закрытого beta-теста, 
        |но у вас есть возможность присоединиться к тестированию сервиса. 
        |Для компаний, участвующих в тестировании, сервис  навсегда бесплатен. 
        |Напишите нам и мы с вами свяжемся.
    img(src="./images/tarifs__rubl.svg", alt="rubl")
    include getEmail
    +getEmail('2')
