extends common/layout

block main
    main.page__main.main
        include includes/offer
        include includes/how-it-works
        include includes/auto-biz
        include includes/banks
        include includes/for-whom
        include includes/cases
        include includes/tarifs
        include includes/comming-soon
        include includes/safety