.page__aside{
    padding-top: 150px;
}
.aside__bigScreen{
    width: 75%;
    margin: 0 auto;
    @media screen and(max-width:$tablet) {
        display: none;
    }
    .card{
        margin-bottom: 10%;
    }
}

.aside__slider{
    display: none;
    @media screen and (max-width:$tablet) {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    overflow: hidden;
    .aside__card{
        display: grid;
        grid-auto-flow: column;
        transition: all .3s ease;
    
    }
    .aside__box{
        text-align: center;
        width: 80vw;

    }
}

