@import '../common/variables.scss';

.getEmail{
    border-radius: 44px;
    background: $highlight-white;
    width: 440px;
    height: 48px;
    box-sizing: border-box;
}
.getEmail__start{
    position: relative;
    display: grid;
    align-items: center;
}
.getEmail__input{
    box-sizing: border-box;
    outline: none;
    background-color: $input-white;
    height: 48px;
    width: 270px;
    border: none;
    border-radius: 44px;
    padding-left: 30px;
    &::placeholder{
        color: transparent;
    }
}
.getEmail__label{
    position: absolute;
    left: 0px;
    padding-top: 18px;
    padding-left: 30px;
    color: $text-blue;
}
.getEmail__button{
    width: 161px;
    height: 48px;
    background: $gradient-blue;
    border-radius: 44px;
    border: none;
    color: $highlight-white;
    &:hover{
        box-shadow: $shadow;
    }
}

.getEmail__done{
    display: none;
}