@import '../assets/fonts/AvenirNext';
@import './common/variables.scss';
@import './common/header.scss';
@import './common/main.scss';
@import './common/footer.scss';


html{
    box-sizing: border-box;
}

body{
    margin: 0;
    color:$text-color;
    font-family:'Avenir Next';
}

body{
    background-color: $back-color;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

h2{
    @media screen and (max-width:$tablet) {
        text-align: center;
    }
}

button, input[type=submit]{
    padding: 13px 0;
    border-radius: 44px;
    border: none;
    transition: all .3s ease;
    &:hover{
        box-shadow: $shadow;
    }

}

.page__twoColls{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
    @media screen and (max-width:$tablet) {
        grid-template-columns:1fr
    }
}
.page__threeColls{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;

    @media screen and (max-width:$phone) {
        grid-template-columns:1fr
    }
}