header.page__header.header
    .header__menu
        img.header__logo(src="./images/logo.svg", alt="logo")
        nav.header__nav.nav
            each value, index in {'Как это работает?':'howItWorks','Для кого':'forWhom','Кейсы':'cases','Тарифы':'tarifs','Безопасность':'safety'}
                a.nav__link(href="#"+value)= index
        div.header__lang.lang
            a.lang__button.lang__ru(href="#") RU
            a.lang__button(href="#") EN
        button.header__button.button Подключиться