header(page-header head)
    nav(head__nav nav)
        a.nav__link(href="") Как это работает?
        a.nav__link(href="") Для кого
        a.nav__link(href="") Кейсы
        a.nav__link(href="") Тарифы
        a.nav__link(href="") Безопасность
    div(head__lang lang)
        a(lang lang_ru)(href="") RU
        a.lang(href="") EN
    button(head__button) Подключиться